/*css reset*/
*{box-sizing: border-box}
*{margin: 0;padding: 0}
*:after{box-sizing: border-box}
*:before{box-sizing: border-box}
ul,li {list-style: none;}

* {
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
img { pointer-events: none; }
input {
  -webkit-user-select:auto; /*webkit浏览器*/
}

.flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
/*iconfont*/
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

/*google logo*/
#webLogo > p {font-size: 5em;letter-spacing: -2px;font-family: Arial,Helvetica,Sans-Serif;}
span.g1{color: #4285f4;}
span.o1{color: #ea4335;}
span.o2{color: #fbbc05;}
span.g2{color: #4285f4;}
span.l{color: #34a853;}
span.e{color: #ea4335;}

/*css style*/
#webLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}
#globalHeader {
  position: relative;
}
#globalMain {
  padding-top: 60px;
}
#searchBox {
  margin-top: 20px;
}

#searchBox form{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

}
#searchIcon {
  position: absolute;
  left: 4%;
}
#searchIcon >svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 5vw;
}
#searchBox input {
  height: 50px;
  outline: none;
  color: rgb(112, 112, 112);
  font-size: 1em;
  border: rgb(218, 218, 218) solid 1px;
  border-radius: 2em;
  box-shadow: 0 0 5px rgb(212, 212, 212);
  width: 100%;
  padding-right: 10vw;
  padding-left: 10vw;
  margin-left: 5vw;
  margin-right: 5vw;
}
@media screen and (max-width: 500px){
  #searchBox button{
    display: none;
  }
}

#wrapList {
  margin-top: 30px;
  border-top: 2px solid #fbf8f8;
  position: relative;
  border-radius: 4px;
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
}
.listName{
  position: absolute;
  top: 10px;
  left: 0;
}
.listName{
  display: flex;
  justify-content: center;
  align-items: center;
}
.listName svg{
  font-size: 1.5em;
  color: rgb(255, 209, 0);
}
.listName span{
  color: #606266;
  margin-left: 2px;
}
.starList{
  margin-right: -3%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.tagStyle{
  width: 22%;
  margin-right: 3%;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 500px ) {
  .tagStyle:hover{
    background-color: #ddd;
    cursor:pointer;
  }
}

.close{
  display: none;
  position: absolute;
  top: -5px;
  right: -5px;
}
.starLogo{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #eee;
  margin-top: 10px;
}
.starLogo > img {
  height: 28px;
  width: 28px;
}
.starLogo svg{
  width: 28px;
  height: 28px;
  color: #333;
}
.webUrl{
  text-align: center;
  width: 100%;
  font-size: 0.8em;
  color: #606266;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 10px;
}
.close svg{
  font-size: 1.2em;
  color: #333;
}

.wrapWeb{
  margin-top: 20px;
  border-top: 2px solid #fbf8f8;
  position: relative;
  border-radius: 4px;
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
}
.webList{
  margin-right: -3%;
  margin-top: 40px;
}
.webStyle{
  width: 22%;
  margin-right: 3%;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.siteLogo{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #eee;
  margin-top: 10px;
}
.siteLogo > img {
  width: 28px;
  height: 28px;
  color: #333;
}
.webName svg {
  color: #4285f4;
}